
{% load static %} 

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://www.sky.com/assets/toolkit/v2.27.1/toolkit.min.css">


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- HighCharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

    <title>Prototype</title>
    <style>
        .channel {
            border: 2px solid black;
            height: 100px;
            width: 500px;
            padding: 20px 20px;
        }
    </style>
    <script type="text/babel" src="{% static 'js/index.js' %}"></script>
    <script type="text/babel" src="{% static 'js/DonutProgressBar.js' %}"></script>
    <script type="text/babel" src="{% static 'js/gym.js' %}"></script>
</head>
<body>

    <nav>
        <div class="nav-wrapper" style="background-color:#f2f2f2">
          <a href="#" class="brand-logo" style="padding-left: 20px;"><font color="black">Gymetrics</font></a>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Settings</a></li>
        </ul>
      </nav>

    <div id="component"></div>

    <center><div> <h5>Current people at the gym: </h5></div></center>
    <div id="gym-donut"></div>

</body>
</html>